:root{
  --primary-color: rgb(22, 22, 23);
  --secondary-color: rgb(246, 246, 246);
  --tertiary-color: rgb(89, 89, 89);
  --brand-color: rgb(255, 108, 0); 
  --focus-color: rgb(0, 92, 185);
  --error-color: rgb(201, 46, 3); 
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "AtkinsonHyperlegible";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
/*
@font-face {
  font-family: 'AtkinsonHyperlegible';
  src: url('font/Atkinson-Hyperlegible-Regular-102.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AtkinsonHyperlegible";
  src: url("font/Atkinson-Hyperlegible-Bold-102.woff");
  font-weight: bold;
}
@font-face {
  font-family: "AtkinsonHyperlegible";
  src: url("font/Atkinson-Hyperlegible-Italic-102.woff");
  font-style: italic;
}
@font-face {
  font-family: "AtkinsonHyperlegible";
  src: url("font/Atkinson-Hyperlegible-BoldItalic-102.woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "AtkinsonHyperlegible";
  src: url("font/Atkinson-Hyperlegible-Italic-102.woff");
  font-style: oblique;
}
@font-face {
  font-family: "AtkinsonHyperlegible";
  src: url("font/Atkinson-Hyperlegible-BoldItalic-102.woff");
  font-weight: bold;
  font-style: oblique;
}*/

@media (max-width: 900px) {
  html { font-size: 18px; }
}
@media (max-width: 400px) {
  html { font-size: 20px; }
}

h1 {
  font-size: 3rem;
  margin: .2rem;
  padding: 0;
}
h2 {
  font-size: 2.5rem;
  margin: .2rem;
  padding: 0;
}
h3 {
  font-size: 2rem;
  margin: .2rem;
  padding: 0;
}
h4 {
  font-size: 1.5rem;
  margin: .2rem;
  padding: 0;
}
h5 {
  font-size: 1rem;
  margin: .2rem;
  padding: 0;
}
p { 
  font-size: 1rem;
  margin: .2rem;
  padding: 0;
}