:root{
  --primary-color: rgb(22, 22, 23);
  --secondary-color: rgb(246, 246, 246);
  --tertiary-color: rgb(89, 89, 89);
  --accent-color: rgb(225, 220, 238);
  --brand-color: rgb(255, 108, 0); 
  --focus-color: rgb(0, 92, 185);
  --error-color: rgb(201, 46, 3); 
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

@media (max-width: 900px) {
  html { font-size: 18px; }
}
@media (max-width: 400px) {
  html { font-size: 20px; }
}

h1 {
  font-size: 3rem;
  margin: .2rem;
  padding: 0;
}
h2 {
  font-size: 2.5rem;
  margin: .2rem;
  padding: 0;
}
h3 {
  font-size: 2rem;
  margin: .2rem;
  padding: 0;
}
h4 {
  font-size: 1.5rem;
  margin: .2rem;
  padding: 0;
}
h5 {
  font-size: 1rem;
  margin: .2rem;
  padding: 0;
}
p { 
  font-size: 1rem;
  margin: .2rem;
  padding: 0;
}

.noSelect{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}