.inicioLayout {
    width: 100%;
    display: grid;
    justify-items: center;
}

.inicioCard{
    margin-top: 20px;
    max-width: 900px;
    box-shadow: 0 4px 8px 0 var(--primary-color);
    padding: 2rem;
}

.inicioHeader, .inicioMain{
    display: grid;
    justify-items: center;
    text-align: justify;
}
.inicioTitulo{
    color: var(--brand-color);
}
.inicioSubtitulo{
    font-weight: normal;
    font-style: italic;
    color: var(--focus-color);
}
.inicioMainText{
    font-size: 1.5rem;
}
.inicioAction{
    margin-top:20px;
    max-width:400px;
}