.sideMenu{
    display: grid;
    padding:0;
}
.sideMenuItem, .sideMenuLogout{
    padding: 1rem;
    margin: auto 5px auto 5px;
    border: none;
    outline: none;
    color: var(--brand-color);
    background-color: var(--secondary-color);
    font-size: 1.2rem;
}

.sideMenuItem{
    margin: 10px 5px auto 5px;
    text-align: justify;
    border-right: 10px solid var(--brand-color);
    border-left: 2px solid var(--brand-color);
}
.sideMenuLogout{
    margin: 20px 5px auto 5px;
    outline: 1px solid var(--focus-color);
    color: var(--focus-color);
    background-color: var(--secondary-color);
    text-align: center;
}

.sideMenuItem>i, .sideMenuLogout>i{
    margin-left: .2rem;
    margin-right: .2rem;
    pointer-events: none;
}


.sideMenuItemSelected{
    color: var(--focus-color);
    border-right: 10px solid var(--focus-color);
    border-left: 2px solid var(--focus-color);
}