.users{
    width: 100%;
    display: block;
}
.usersCard{
    width: calc(100% - 4rem);
    max-width: 1200px;
    box-shadow: 0 4px 8px 0 var(--primary-color);
    padding: 2rem;
    margin: 20px auto 0 auto;
}
.usersTittle{
    font-size:2rem;
    color: var(--focus-color);
}
.usersAction{
    max-width: 120px;
    width: 100%;
    margin:15px;
}
.userModalAction{
    margin: auto;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(25%, min(170px, 100%)), 1fr));
    grid-gap: .5rem;
}